@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root {
    /* Color */
    --white: #fff;
    --black: #000;
    --accent: #708fff;
    --line: 1px solid #EDEDED;
    --bg: #EFF1F6;
}

