@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url('https://cdn-uicons.flaticon.com/2.3.0/uicons-regular-rounded/css/uicons-regular-rounded.css');

:root {
    /* Typography */
    --font-family: "Inter";
    --button: 600 16px Inter;
    --body:500px 16px Inter;

    /* Color */
    --white: #fff;
    --black: #000;
    --accent: #708fff;
    --line: 1px solid #c9c9c9;

    /* Rounded */
    --br-xs: 4px;
    --br-sm: 8px;
    --br-md: 16px;
    --br-lg: 24px;
    --br-xl: 32px;
    --br-xxl: 40x;
    --br-xxxl: 52px;

    /* Sizing */
    --p-md:12px;
}
/* CSS untuk tombol secondary */
.btn-secondary {
    background-color: #708FFF; /* Ganti dengan warna yang diinginkan */
    border-color: #708FFF; /* Ganti dengan warna yang diinginkan */
    color: #fff; /* Warna teks, ganti jika diperlukan */
}

.btn-secondary:hover {
    background-color: #708FFF; /* Ganti dengan warna yang diinginkan untuk efek hover */
    border-color: #708FFF; /* Ganti dengan warna yang diinginkan untuk efek hover */
}

/* CSS untuk tombol primary */
.btn-primary {
    background-color: #FF4242; /* Ganti dengan warna yang diinginkan */
    border-color: #FF4242; /* Ganti dengan warna yang diinginkan */
    color: #fff; /* Warna teks, ganti jika diperlukan */
}

.btn-primary:hover {
    background-color: #FF4242; /* Ganti dengan warna yang diinginkan untuk efek hover */
    border-color: #FF4242; /* Ganti dengan warna yang diinginkan untuk efek hover */
}
